
@import "../../../styles/variables.scss";

.skills{
    background: $yellow-color-gradient;
    padding: 40px 0;
    .skills__container{
        margin: 0 auto;
        max-width: 1200px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .skills__wrap{
        padding-top: 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns:  repeat(4, 1fr);
        gap: 50px;
        .skills__wrap-item{
            @media screen and (max-width: 450px){
               display: flex;
               justify-content: center;
            }
        }
        @media screen and (max-width: 850px){
            grid-template-columns:  repeat(2, 1fr);
        }
        @media screen and (max-width: 450px){
            grid-template-columns:  repeat(1, 1fr);
        }
    
       
        
    }
}
