@import "../../../styles/variables.scss";

.github{
    padding: 40px 0;
    background-color: $black-color;
    .github__content{
        display: flex;
        justify-content: space-between;
        margin: 100px;
        @media screen and (max-width: $tablet-max) {
            flex-direction: column;
        }
        
        .github__content-logo{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .github__img{
            @media screen and (max-width: $tablet-max) {
                display: none;
            }
        }
    }
}



