//  Colors 


$yellow-color: #ffde59;
$dark-brown-color: #333;


// Gradients

$yellow-color-gradient: linear-gradient(270deg, #FDAB30 0%, #FDC830 72.92%);


// Media Queries 

$desktop-min: 1280px;
$tablet-max: 1279px;
$tablet-min: 768px;
$mobile-max: 767px;

