//  Colors 

$black-color: black;
$light-brown-color: #ECE7E4;
$semi-brown-color: #CEC4BC;
$dark-brown-color: #403E3B;



// Media Queries 

$desktop-min: 1280px;
$tablet-max: 1279px;
$tablet-min: 768px;
$mobile-max: 767px;

