@import "../../../styles/variables.scss";

.footer{
    padding: 10px 0;
    background-color: $black-color;
    .footer__container{     
        display: flex;
        justify-content: center;
        align-items: center;    
    }
}



.footer__link{
    cursor: pointer;
    margin-left: 10px;
  .footer__icon{
         transition: all 0.2s;
         color: $blue-color ;
    &:hover{
        color: $white-color;
        transition: all 0.2s;
    }
  }
}