.title {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    overflow: hidden; // для обрезания текста, который еще не распечатан
    white-space: nowrap; // для обрезания текста, который еще не распечатан
  }
  