.work-item {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 0;
    padding-bottom: 86%;
    background: linear-gradient(270deg, #FDAB30 0%, #FDC830 72.92%);
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(188,29,103,0.35); 
  }
  
  .work-item__img-wrap{
    display: flex;
    justify-content: center;
    .work-item__img{
      max-width: 500px;
      padding: 20px;
      height: auto;
    }
  }
  