@import "../../../styles/variables.scss";

.header {
  // position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  @media screen and (max-width: $tablet-max) {
     background: linear-gradient(270deg, #FDAB30 0%, #FDC830 72.92%);
  }
  .header__container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .header__logo {
    font-size: 20px;
    font-weight: 400;
    color: $dark-brown-color;
    margin-left: 30px;
  }

  .header__menu {
    @media screen and (max-width: $tablet-max) {
      display: none;
    }

    .header__menu-list {
      display: flex;
      list-style: none;

      .header__menu-item {
        padding-right: 30px;
        opacity: 0;

        .header__menu-link {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          color: #ffffff;
          transition: all 0.5s;
          transform: translateY(-50px);
         

          &:hover {
            color: grey;
            box-shadow: 0 0 20px 10px rgba(0, 91, 187, 0.5);
            background-color: rgba(0, 91, 187, 0.5);
            
          }
        }
      }
    }
  }

}


.header__burger{
  .header__menu-list{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #FDAB30;
    list-style: none;
    .header__menu-item{
      padding: 20px;
      transition: 0.2s;
        &:hover{
          background-color: #333;
          transition: 0.2s;
        }
      .header__menu-link{
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        padding-left: 40px;
        text-transform: uppercase;
       
       
      }
    }
  }
}


