.header-hero{
    
    width: 100vw;
    height: 100vh;
    .header-hero__video-bg{
        max-height: 100vh;
        max-width: 100%;
        position: relative;
        
        left: 0;
        right: 0;
        overflow: hidden;
        .header-hero__video-bg video{
            max-width: 100%;
            max-height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: 1;        
        }
        .effects{
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 2;
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 100%;
            max-height: 100vh;
        }
        .header-hero__content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 300px;
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
          
           .header-hero__main-text{
            font-size: 72px;
            font-weight: 400;
            color: #fff;
            text-align: center;
            animation: title-name 2s;
            
            @media screen  and (max-width:950px){
               font-size: 48px;
            }
            @keyframes title-name {
                from{
                    opacity: 0;
                    transform: translateY(100px);
                }to{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            
           
           }
           .header-hero__main-text.close{
            transition: 2s;
            opacity: 0;
            transform: translateY(100px);
           }
           .header-hero__main-text.active{
            transition: 2s;
            opacity: 1;
            transform: translateY(0);
           }
           .header-hero__small-text{
            font-size: 32px;
            margin-top: 20px;
            font-weight: 400;
            color: #fff;
            text-align: center;
            animation: title-profession 4s;
           
            @keyframes title-profession {
                from{
                    opacity: 0;
                    transform: translateY(50px);
                }to{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            @media screen  and (max-width:950px){
                font-size: 28px;
             }
             @media screen  and (max-width:450px){
                font-size: 22px;
             }
           }
        
           .header-hero__btn{
            text-transform: capitalize;
            margin-top: 50px;
            font-size: 20px;
            padding: 10px 20px;
            border-radius: 40px;
            outline: none;
            background-color: rgb(0, 0, 0, 0.1);
            color: #fff;
            border: 2px solid #fff;
            transition: all 0.5s;
            animation: title-button 5s;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
                .header-hero__btn-text{
                    padding-right: 5px;
                }
                .header-hero__btn-icon{
                    fill: #fff;
                }

            @keyframes title-button {
                from{
                    opacity: 0;
                    transform: translateY(50px);
                }to{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            &:hover{
                background-color: #fff;
                color: #333;
                transition: all 0.5s;
            }
            
            }
            
        }
       
    }
    .header-hero__scroll-icon{
        margin-top: 80px;
        .arrow.one{
            margin-top: 50px;
            animation: scroll 2s  infinite;
        }
        .arrow.two{
            
            position: relative;
            bottom: 40px;
            animation: scroll 2s  infinite 1s;
        }
        
    }
    @keyframes scroll {
        from{
            transform: translateY(1);
            opacity: 1;
        }to{
            transform: translateY(30px);
            opacity: 0;
        }
    }
}
